# --- VIRTUALIZATION & CPU (Fixes TSC/Clock) ---
CONFIG_IS_NOT_SET=n
CONFIG_64BIT=y
CONFIG_SMP=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_KVM_GUEST=y
CONFIG_PARAVIRT_SPINLOCKS=y

# --- BUS & HARDWARE (VITAL) ---
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_HOTPLUG_PCI=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y

# --- DRIVERS DE RED (INTEL E1000 + VIRTIO) ---
CONFIG_NET_VENDOR_INTEL=y
CONFIG_E1000=y
CONFIG_E1000E=y
CONFIG_E1000E_HWTS=y

# --- FILESYSTEM ---
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_OVERLAY_FS=y

# --- NETWORKING STACK ---
CONFIG_NET=y
CONFIG_INET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_NET_CORE=y
CONFIG_ETHERNET=y

# --- WIREGUARD ---
CONFIG_WIREGUARD=y

# --- FIREWALL (NFTABLES) ---
CONFIG_NETFILTER=y
CONFIG_NF_TABLES=y
CONFIG_NF_TABLES_INET=y
CONFIG_NFT_CT=y
CONFIG_NFT_NAT=y
CONFIG_NFT_MASQ=y
CONFIG_NFT_REDIR=y
CONFIG_NF_CONNTRACK=y
CONFIG_NF_NAT=y
